body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif', sans-serif;
    font-size: 16px; /* base font size */
    line-height: 1.6;
    color: #333;
}
nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

pre, code {
    font-family: 'Courier New', monospace;
    font-size: 0.9em;
    background: #f5f5f5;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}
pre {
    padding: 1em;
    overflow-x: auto;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
